<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="Board">
    <insert id="boardSave" parameterType="board" useGeneratedKeys="true" keyProperty="board_id">
        insert into board(writer,title,content,member_id,boardSaveFile)
        values (#{writer},#{title},#{content},#{member_id},#{boardSaveFile})
    </insert>

    <insert id="boardSaveDB" parameterType="board" useGeneratedKeys="true" keyProperty="board_id">
        insert into file(board_id,originalFileName,storedFileName)
        values (#{board_id},#{originalFileName},#{storedFileName})
    </insert>

    <select id="boardList" resultType="board" parameterType="board">
        select *from board order by board_id desc limit #{start} , #{PAGE_LIMIT}
    </select>

    <select id="boardCount" resultType="Integer">
        select count(board_id) from board;
    </select>



</mapper>